h1{
    background-color: aqua;
    font-size: xx-large;
    text-align: center;
    padding: 50px 100px 50px 100px;
    margin: 50px 50px 0px 50px;
    border: 25px solid black;
  }
  
  ul{
    box-sizing: border-box;
    background-color:bisque;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 50px 100px 50px 100px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    border: 5px solid black;
  }

  h2{
    text-align: center;
    font-family: 'Time New Roman';
    font-weight:lighter;
    font-size:x-large;

  }

  .pic1{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid black;
}

p{
  text-align: center;
}

ol{
  margin-left: 350px;
  margin-right: 350px;
  text-align: left;
  font-size: large;
}

body{
  background-color: khaki;
  margin: auto 50px auto 50px;
}

